version: "3.8"

services:
  mongo:
    image: mongo:6
    restart: always
    volumes:
      - 4foods-api_mongo-data:/data/db

  api:
    build: .
    restart: always
    env_file:
      - .env
    depends_on:
      - mongo
    ports:
      - "0.0.0.0:5000:5000"

volumes:
  4foods-api_mongo-data:
    external: true
